# Frontend Environment Variables
VITE_API_URL=https://api.shipbite.in
VITE_JZ_CASH_TOKEN=509ffd178aff24dc09640796da90fc22
VITE_JZ_CASH_CREATE_URL=https://cash.free.jzstore.in/api/create-order
VITE_JZ_CASH_STATUS_URL=https://cash.free.jzstore.in/api/check-order-status
