# Backend Environment Variables
DATABASE_URL="postgresql://neondb_owner:npg_9CBmWV2azxry@ep-empty-rain-augesl69.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="shipbite_jwt_secret_key_2024_very_secure"
PORT=4000
CLIENT_ORIGIN="https://shipbite.in"
